/* *{} */

body {
    margin: 3rem;
    background-color: #cff09e;
}

header {
    z-index: 10;
}

h1 {
    border: dotted #79bd9a;
    display: flex;
    justify-content: center;
    font-family: 'Abril Fatface', cursive;
    color: #79bd9a;
    font-size: 48px;
}

p {
    font-family: 'Questrial', sans-serif;
    padding: 1rem;
    text-align: left;
    color: black;
}

.card {
    position: relative;
    display: flex;
    display: inline-block;
    border-radius: 25px;
    max-width: 450px;
    min-height: 750px;
    padding: 1rem;
    margin: 1.5rem;
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
}

.column {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: wrap column;
}

.column img {
    width: 200px;
}

.column ul {
    text-align: center;
    list-style: none;
}

.column h2 {
    text-align: center;
    color: #3b8686;
    font-family: 'Abril Fatface', cursive;
}

.datos p {
    margin-left: 3px;
    justify-content: space-between;
    flex-flow: wrap row;
    color: teal;
}

#peliculas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url('assets/chu.jpg');
    background-repeat: repeat;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.nav li>a {
    background-color: #79bd9a;
    border-radius: 3rem;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 150px;
}

.nav li>a:hover {
    color: #000;
    background-color: #eaeaea;
}

.nav>li {
    float: left;
    text-align: center
}

.nav>li>ul {
    display: none;
}

.nav>li:hover>ul {
    display: block;
}